<div class="main user-show">
  <div class="container">
    <div class="user">
      <img src="<%= "/user_images/#{@user.icon_id}" %>">
      <h2><%= @user.name %></h2>
      <p><%= @user.email %></p>
      <% if @user.id == @current_user.id %>
        <%= link_to("編集", "/users/#{@user.id}/edit") %>
      <% end %>
    </div>

    <ul class="user-tabs">
      <li><%= link_to("投稿", "/users/#{@user.id}") %></li>
      <li class="active"><%= link_to("いいね!", "/users/#{@user.id}/likes") %></li>
    </ul>

    <% @likes.each do |like| %>
      <% tweet = Tweet.find_by(id: like.tweet_id) %>
      <div class="tweets-index-item">
        <div class="tweet-left">
          <img src="<%= "/user_images/#{tweet.user.icon_id}" %>">
        </div>
        <div class="tweet-right">
          <div class="tweet-user-name">
            <%= link_to(tweet.user.name, "/users/#{tweet.user.id}") %>
          </div>
          <%= link_to(tweet.body, "/tweets/#{tweet.id}") %>
        </div>
      </div>
    <% end %>
  </div>
</div>